html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333;
    font-family: 'Fira Mono', monospace;
    background: #eee;
}
h1 {
    margin-bottom: 10px;
}
main {
    width: 512px;
    margin: 1em auto 0 auto;
    position: relative;
}
#canvas-score {
    background: transparent;
    width: 512px;
    height: 512px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 4;
}
#canvas {
    background: #ccc;
    width: 512px;
    height: 512px;
    cursor: pointer;
}
#overlay {
    width: 512px;
    height: 512px;
    z-index: 5;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
button {
    font-family: 'Fira Mono', monospace;
    border-radius: 6px;
    background: #DBDBDB;
    border: 1px solid #eee;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}
button:hover {
    background: #aaa;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.35);
}
#start {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 75px);
    z-index: 6;
}
#cancel {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 75px);
    display: none;
    z-index: 6;
}
#message {
    position: absolute;
    top: calc(50% - 61px);
    z-index: 6;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#prompt {
    position: absolute;
    top: calc(50% - 110px);
    z-index: 6;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#username-input {
    font-family: 'Fira Mono', monospace;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
    width: 280px;
    text-align: center;
}
#status {
    display: table;
    width: 100%;
}
#names, #scores {
    display: table-row;
    width: 100%;
}
.table-first-col {
    display: table-cell;
    width: 100px;
}
.table-col {
    display: table-cell;
    vertical-align: middle;
}
.flex {
    display: flex;
}
.flex > div {
    flex: 1 0 auto;
}