html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333;
    font-family: 'Fira Mono', monospace;
}
h1 {
    margin-bottom: 10px;
}
main {
    width: 512px;
    margin: 1em auto 0 auto;
    position: relative;
}
#canvas {
    background: #87ceeb;
    width: 512px;
    height: 512px;
    cursor: pointer;
}
#overlay {
    width: 512px;
    height: 512px;
    z-index: 5;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
button {
    font-family: 'Fira Mono', monospace;
    border-radius: 6px;
    background: #DBDBDB;
    border: 1px solid #eee;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}
button:hover {
    background: #aaa;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.35);
}
#start {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 75px);
    z-index: 6;
}
#cancel {
    position: absolute;
    top: calc(50% - 31px);
    left: calc(50% - 75px);
    display: none;
    z-index: 6;
}
#message {
    position: absolute;
    top: calc(50% - 61px);
    z-index: 6;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#status {
    display: flex;
}
#my, #opp {
    flex: 1 auto;
}